.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #1B75BC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  max-width: 1600px;
}

.flags{
  background: #1B75BC;
  padding-top: 30px;
}

.flags .country-label{
  color:#fff;
}

.flags .arrow-down {
  color: #fff !important;
}

.flag-option.has-label .country-label{
  color: #000;
}
